* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
}
.topBar {
  padding: 50px;
  background: rgb(18, 9, 27);
}
.topBar nav {
  display: flex;
  justify-content: space-around;
}
.topBar nav a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 2px 2px 0px #050303, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
.topBar nav a:hover {
  color: palevioletred;
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: palevioletred;
  text-shadow: 2px 2px 0px #050303, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
.search-container {
  text-align: center;
}
input {
  height: 30px;
  width: 500px;
  border-radius: 20px;
}
.sideBar {
  float: left;
  background: rgb(18, 9, 27);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sideBar ul li {
  text-align: center;
  margin: 20px 10px 40px;
}
main {
  background: black;
}
