* {
  padding: 0;
  margin: 0;
}

body {
  background: lightgray;
}

h1 {
  background: green;
  text-align: center;
  margin-top: 150px;
}
#topAnime {
  background: red;
  position: absolute;
  left: 15%;
  top: 10px;
  font-size: 1.5rem;
}
#myList {
  background: blue;
  right: 15%;
  position: absolute;
  top: 10px;
  font-size: 1.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-left: 50%;
  transform: translateX(-40%);
}
#search {
  border: 1px solid rgb(2, 19, 255);
  height: 50px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  width: 500px;
}
button {
  display: flex;
}
.leftPart {
  border: 1px solid red;
  height: 450px;
  width: 50px;
  float: left;
  top: 50%;
}
.rightPart {
  border: 1px solid red;
  height: 450px;
  width: 50px;
  background: red;
  float: right;

  /* right: 0%;
  position: relative;
  top: -100%; */
}
