@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1 {
  text-align: center;
  color: black;
  font-family: "Lobster", serif;
  font-size: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding-bottom: 20px;
}
.Anime {
  background: red;
  display: inline-block;
  visibility: hidden;
}

.Genre {
  background: blue;
  display: inline-block;
  visibility: hidden;
}

.show {
  visibility: visible;
}
